{% extends 'students/base.html' %}

{% block content %}

<div class="container">
    <br>
    <br>
    {% if student %}
        <h3 class="text-primary"><u>Student Information Detail</u></h3><br>
        <div class="row bg-success text-white">
          <br>
          <div class="col"><p><br>English Name : "{{ student.english_name }}"</p></div>
          <div class="col"><p><br>Khmer Name : "{{ student.khmer_name }}"</p></div>
          <div class="col"><p><br>Japanese Name : "{{ student.japanese_name }}"</p></div>
        </div>
        <div class="row bg-success text-white">
          <br>
          <div class="col"><p>Nationality : "{{ student.nationality }}"</p></div>
          <div class="col"><p>Place Of Birth : "{{ student.place_of_birth }}"</p></div>
          <div class="col"><p>Card id : "{{ student.card_id }}"</p></div>
        </div>
        <div class="row bg-success text-white">
          <br>
          <div class="col"><p>Cambodia Salary : "${{ student.khmer_salary }} "</p></div>
          <div class="col"><p>Education Level : "{{ student.education }}"</p></div>
          <div class="col"><p>Birth Day : "{{ student.date_of_birth }}"</p></div>
        </div>
        <div class="row bg-success text-white">
          <br>
          <div class="col"><p>Age : "{{ student.age }}"</p></div>
          <div class="col"><p>Gender : "{{ student.gender }}"</p></div>
          <div class="col"><p>State Of Health : "{{ student.state_of_healt }}"</p></div>
        </div>
        
        <div>
        <br>
        <a href="{% url 'students:attendance' student.id %}">Check Attendance |</a>
        <a href="{% url 'students:new_attendance' %}">New attendance |</a>
        <p><a href="{% url 'students:index' %}">Students list</a></p> 
        </div>
    {% endif %}
</div>
{% endblock %}