{% extends 'students/base.html' %}

{% block content %}
<br><br>
   <div class="container">
      {% if student %}
         {% if families %}
            <h2 style="color: #0066ff;"><u>Family Member</u></h2>
            <h3 style="text-align: center; "><b style="color: #0066ff;">{{ student.english_name }}</b></h2><br>
            <h4><a href="{% url 'students:new_interview' %}">New Family Member</a></h4><br>
               <table class="table table-hover table-sm table-striped table-responsive-sm " style="text-align: center;">
                  <thead class="bg-success" style="color: white; height: 30px;">
                     <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Position</th>  
                        <th>Occupation</th>
                        <th>Status</th>
                     </tr>
                  </thead>
                  <tbody class=" table-sm table-hover" >
                     {% for family in families %}
                     <tr class=" table-sm table-hover" >
                        <td>{{ family.name }}</td>
                        <td>{{ family.age }}</td>
                        <td>{{ family.position }}</td>
                        <td>{{ family.job }}</td>
                        <td>{{ family.status }}</td>
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
               <br>
               <a href="{% url 'students:index' %}">Students list</a> 
         {% else %}
                <p>No Experience are available.</p>
         {% endif %}
      {% else %}
          <p>No Student are available.</p>
      {% endif %}
      </div>
{% endblock %}